configuration{
    modi: "drun,window,file-browser";
    width: 40;
    columns: 1;
    lines: 5;
 	font: "Source Code Pro 12";
    show-icons: false;
	icon-theme: "Papirus-Dark";
    terminal: "xst";
    drun-display-format: "{icon} {name}";
    display-drun: "Run";
    location: 0;
    separator-style: "solid";
    disable-history: true;
    hide-scrollbar: true;
    theme: "~/.config/rofi/simple.rasi";
}
